<div class="login-container">
	<div id="output"></div>
	<div class="avatar"></div>
	<div class="form-box">
		<form name="loginForm" novalidate="novalidate" 
			ng-submit="loginForm.$valid && login.login()">
			<div class="form-group" ng-class="{'has-error':loginForm.username.$dirty && loginForm.username.$invalid}">
				<input name="username" type="text" placeholder="username"
				data-ng-model="login.username" class="form-control" required="required">
			</div>
			<div class="form-group" ng-class="{'has-error':loginForm.password.$dirty && loginForm.password.$invalid}">
				<input name="password" type="password" placeholder="password"
				data-ng-model="login.password" class="form-control" required="required">
			</div>
			<button class="btn btn-info btn-block login" type="submit"
			data-ng-disabled="loginForm.$invalid">Login</button>
		</form>
	</div>
</div>