.top-offset-5 { margin-top:5%; }
.top-offset-7 { margin-top:7%; }
.top-offset-10 { margin-top:10%; }
.top-offset-15 { margin-top:15%; }
.top-offset-20 { margin-top:20%; }
.top-offset-25 { margin-top:25%; }
.top-offset-30 { margin-top:30%; }

body{
	background-color: snow;
}